body{
    background:#dadada;
    background-color: 000;
     margin: 0px;
    padding: 0px;
    }




/*
.menu a:active {
   -moz-box-shadow:    inset 0 0 18px #000000;
   -webkit-box-shadow: inset 0 0 18px #000000;
   box-shadow:         inset 0 0 18px #000000;
}*/


.menu a {
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}


.menu img {

    height: 60px;

}

.menu_left a {
float: left;
position: relative;
line-height: 190px;
top: 50%;
left: 50%;
}





.layer_left {
    width: 50%;
    background-color: #000;
    height: 100%;
    position: absolute;
    float: left;
    opacity: .7;
    z-index: -2;
       -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
    
    
}
.layer_right {
    width: 50%;
    background-color: #000;
    height: 100%;
    position: absolute;
    margin-left: 50%;
    float: right;
    opacity: .1;
     z-index: -1;

}

.layer_top {
    width: 100%;
    background-color: #000;
    height: 33%;
    position: absolute;
    float: left;
    opacity: .6;

}

.layer_middle{
    width: 100%;
    background-color: #000;
    height: 33%;
    position: absolute;
    float: left;
    opacity: .1;
    margin-top: 33%;

}

.layer_bottom {
    width: 100%;
    background-color: #000;
    height: 33%;
    position: absolute;
    float: left;
    opacity: .4;
    margin-top: 66%;

}











